@model MATE.USERS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USERS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PW_KEY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PW_KEY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SURNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SURNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_ADMIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_ADMIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.USERID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
